ul, body, h3, p {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 18px;
  color: #2F2F2F;
}

body {
  font-family: Arial;
}

ul {
  overflow-y: auto;
  height: calc(100vh - 66px);
  border: solid 0.5px #ff6e62;
  border-top: 0;
}

#map-container, .map-wrapper {
  width: 100%;
  height: inherit;
}

.h-box {
  display: flex;
  flex-direction: row;
}

.v-box {
  display: flex;
  flex-direction: column;
}

.super-wrapper {
  height: 100vh;
}

.map-search-wrapper {
  height: inherit;
}

.search-wrapper {
  min-width: 420px;
  max-width: 420px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 8px;
  z-index: 10;
  background-color: white;
}

.search-bar-wrapper {
  width: 100%;
  height: 50px;
  background: #ff6e62;
  box-sizing: border-box;
  padding: 5px;
}

.search-bar-wrapper input {
  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  width: 100%;
  border: 0px;
  outline: none;
}

.search-bar-wrapper button {
  outline: none;
  background: #ff6e62;
  opacity: 1;
  border: 0;
  padding: 0px 15px 2px 15px;
  border: solid 3px white;
  border-left: 0;
  color: white;
}

.search-bar-wrapper button:hover {
  background: #FF3827;
  cursor: pointer;
}

.search-list-item {
  width: 398px;
  height: 100px;
  padding: 10px;
  border-bottom: solid 1px #ff6e62;
}

.search-list-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.biz-img-wrapper {
  width: 100px;
  height: 100px;
}

.biz-img-wrapper img{
  object-fit: cover;
  width:  100px;
  height: 100px;
}

.biz-info {
  width: 100%;
  box-sizing: border-box;
  padding: 0 6px;
  justify-content: space-around;
}

.biz-info p {
  color: gray;
  font-size: 14px;
}

p.rating {
  color: #ff6e62;
}

.map-loader-wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
